.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* username */
.chat tr td:first-child {
  width: 200px;
}

.chat tr td:first-child:after {
  content: ' : ';
}
