<div class="col sidebar col-xs-2">

  <ul class="list-unstyled room-list">
    <li>
      <a href="" ng-click="congratulations()">
        <span class="glyphicon glyphicon-home"></span> Main
      </a>
    </li>
  </ul>

  <div class="name">

    <span class="name-msg">{{nameMsg}}</span>

    <input type="text" class="form-control input-sm" ng-model="name">

  </div>

</div>

<div class="col main col-xs-8">

  <div class="form-group search-bar clearfix" ng-show="chat.length">

    <button class="btn btn-default btn-sm pull-right" ng-hide="searchToggle" ng-click="toggleSearch()">
      <span class="glyphicon glyphicon-search"></span>
    </button>

    <div class="search-input" ng-show="searchToggle">

      <button class="btn btn-default btn-sm pull-right" ng-click="toggleSearch()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>

      <input type="search" class="form-control" id="search" placeholder="search" ng-model="query">

    </div>

  </div>

  <ul class="list-unstyled chat">
    <li ng-repeat="msg in chat | limitTo:-300 | filter: search">
      <span class="col-xs-2 name">{{users[msg.id] || 'deprecated'}}</span>
      <span class="col-xs-8 msg">
        <format-msg msg="msg.text"></format-msg>
      </span>
      <span class="col-xs-2 date">{{msg.date | date:'h:mm' }}</span>
    </li>
  </ul>

  <form ng-submit="talk()" ng-show="id">
    <div class="input-group chat-input">
      <input type="text" class="form-control" id="chat" ng-model="new_msg" autofocus="autofocus" placeholder="Say something or paste a link to a pic">
      <span class="input-group-addon">
        <button class="btn btn-primary btn-sm">SEND</button>
      </span>
    </div>
  </form>

</div>

<div class="col users col-xs-2">

  <h3>{{userCount}}</h3>

  <ul class="list-unstyled">
    <li ng-repeat="(id, name) in users">{{name}}</li>
  </ul>

</div>
