
<h3 class="text-muted">Chattr - {{id}}</h3>

<ul class="list-unstyled">
  <li ng-repeat="msg in chat | limitTo:-5">
    [{{msg.date | date:'h:mm' }}]
    &lt;{{users[msg.id] || 'deprecated'}}&gt;
    {{msg.text}}
  </li>
</ul>

<form ng-submit="talk()" ng-show="id">

  <input type="text" ng-model="name"> :&nbsp;
  <input type="text" ng-model="new_msg" autofocus="autofocus">
  <button class="btn btn-primary">SEND</button>

</form>

<h3>Users ({{userCount}})</h3>

<ul>
  <li ng-repeat="(id, name) in users">{{name}}</li>
</ul>
